.center {
    width: 400px;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
}

.txt_field {
    justify-content: center;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

.btn {
    margin-left: 30%;
    width: 40%;
    border-radius: 10px;
}

body {
    background-color: #BFACE0;
    height: 100vh;
}