<div class="banner">
    <app-header></app-header>
    <div class="row row-cols-1 row-cols-sm-2 g-3">
        <div class="col" *ngFor="let ele of sites">
            <div class="card">
                <!-- <img src="../../assets/Flights.jpeg" class="card-img-top" alt="card-grid-image"> -->
                <img src="{{ele.image1}}" alt="image1">
                <div class="card-body">
                    <h2 class="card-title">{{ele.name}}</h2>
                    <h5 class="card-title">Location : {{ele.location}}</h5>
                    <h5 class="card-title">ViewPoint : {{ele.viewpoint}}</h5>
                    <h5 class="card-title">Type : {{ele.type}}</h5>
                    <h5 class="card-title">Contact : {{ele.contact}}</h5>
                    <h5 class="card-title">Price : {{ele.price}} &#8377;</h5>

                    <p class="card-text">{{ele.description}}
                    </p>
                    <p class="card-text"><small class="text-muted">Rating {{ele.rating}}</small></p>
                    <button class="btn btn-primary" (click)="checkout(ele)">Book Now</button>
                </div>
            </div>
        </div>
    </div>