.banner {
    width: 100%;
    height: 180vh;
    background-color: whitesmoke;
    color: black;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.80)), url(../../assets/island.webp); */
    /* background-image: url("../../Images/room.jpg"); */
    background-color: goldenrod;
    background-size: cover;
    background-position: center;
}

.formbox {
    color: black;
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log input {
    height: 35px;
    /* border: none; */
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    backface-visibility: visible;
}

.log button {
    margin-top: 10px;
    letter-spacing: 1px;
}

.banner h1 {
    /* margin-top: 100px; */
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
    /* border: 1px solid red; */
}

span {
    margin-left: 30px;
}

.register {
    margin-left: 5px;
}

.log {
    border: 1px solid black;
    width: 45%;
    height: auto;
    padding: 20px;
}